# =============== #
# Unity generated #
# =============== #
**/Temp/
**/Obj/
**/UnityGenerated/
**/Library/
	
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
**/*.svd
**/*.userprefs
**/*.csproj
**/*.pidb
**/*.suo
**/*.sln
**/*.user
**/*.unityproj
**/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

Coding/Assets/_Materials.meta
Coding/Assets/_Scripts/Enemies/EnemyAI.cs.orig.meta
Coding/Assets/_Scripts/Game.cs.orig.meta
Coding/Assets/_Scripts/Grid.cs.orig.meta
